<h1><%= @challenge.name %></h1>

Solve in:

<% if @challenge.can_solve_in?("Ruby") %>
  <%= link_to "Ruby", challenge_url(@challenge), class: "btn btn-default" %>
<% end %>

<%= link_to "JavaScript", js_challenge_url(@challenge), class: "btn btn-default current-button" %>

<br><br>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <td class="left-column"><b>Difficulty:</b></td>
    <td><%= @challenge.difficulty %></td>
  </tr>
  <tr>
    <td><b>Description:</b></td>
    <td><%= @challenge.description %></td>
  </tr>
  <tr>
    <td><b>&#35; Submissions:</b></td>
    <td><%= @challenge.number_submissions %></td>
  </tr>
  <tr>
    <td><b>&#37; Successful:</b></td>
    <td>
      <%= @challenge.percent_successful %>
    </td>
  </tr>
  <tr>
    <td><b>Problem Statement:</b></td>
    <td><%= @challenge.problem_statement %></td>
  </tr>

  <% @challenge.javascript_input_results.each_with_index do |input_result, index| %>
    <% input = input_result.input.gsub("\r","").split("\n") %>
    <tr>
      <td><b>Input &#35;<%= index + 1 %>:</b></td>
      <td>
        <% input.each do |line| %>
          <%= line %><br>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><b>Result &#35;<%= index + 1 %>:</b></td>
      <td><%= input_result.result %></td>
    </tr>   
  <% end %>

</table>

<% @challenge.pictures.each do |picture| %>

  <%= image_tag(picture.url) %><br><br>

<% end %>

<% if signed_in? %>
  <h3>Enter Your Solution:</h3><br>

  <form id="codeform" action="<%= js_solutions_url %>" method="post"> 
    <input
      name="authenticity_token"
      type="hidden"
      value="<%= form_authenticity_token %>">

    <input
      name="solution[challenge_id]"
      type="hidden"
      value="<%= @challenge.id %>">

    <input
      name="solution[success]"
      type="hidden"
      value="true">

    <textarea class="text" name="solution[method_string]"><%= @challenge.javascript_method_skeleton %></textarea>
  </form>

  <div id="editor"></div>

  <script>
    var editor = ace.edit("editor");
    var JavaScriptMode = require("ace/mode/javascript").Mode;
    editor.getSession().setMode(new JavaScriptMode());
    var textarea = $('textarea[name="solution[method_string]"]').hide();
    editor.getSession().setValue(textarea.val());
    editor.getSession().on('change', function(){
      textarea.val(editor.getSession().getValue());
    });
  </script>
  <br>
  <input type="submit" value="Submit" form="codeform" class="btn btn-default">



  <script language="JavaScript">

    (function () {

      var $form = $("#codeform");
      $form.on("submit", function (event) {
        event.preventDefault();
        var data = $(event.currentTarget).serializeJSON();

        //determine if solution passes - start

        var inputs = [];
        var results = [];
        <% @challenge.javascript_input_results.each do |input_result| %>
          inputs.push("<%= input_result.input.gsub("\n","").gsub("\r","") %>");
          results.push("<%= input_result.result %>");
        <% end %>

        var method = data["solution"]["method_string"];
        var call = "<%= @challenge.javascript_method_call %>";
    
        for (var i=0; i<inputs.length; i++) {
          var input = inputs[i];
          var result = results[i]; 
          var flag = true;

          var my_result = eval(input+method+call);
          if(typeof my_result === 'undefined') {
            flag = false;
          }
          
          if (flag) {
            flag = (my_result.toString() == eval(result).toString());
          }

          if (!flag) {
            data["solution"]["success"] = false;
            break;
          }
        }

        //determine if solution passes - end
        var success = function () {
          window.location = "/users/<%= current_user.id %>";
        };
        $.ajax({
          type: "POST",
          url: "<%= js_solutions_url %>",
          data: data["solution"],
          success: success,
          dataType: "json"
        });

      });

    })();

  </script>



<% else %>

  <h3>Please sign in to submit a solution</h3>

<% end %>














