<h1>Leaderboard</h1>

<%= link_to "Easy", users_easy_url, class: "btn btn-default #{@easy_button_class}" %>
<%= link_to "Medium", users_medium_url, class: "btn btn-default #{@medium_button_class}" %>
<%= link_to "Hard", users_hard_url, class: "btn btn-default #{@hard_button_class}" %>

<br><br>

<table class="table table-condensed user-index-table">
  <% @users.each do |user| %>
    <tr>
      <td class="left-column-user-index"><a href="<%= user_url(user) %>"><%= user.name %></a></td>
      <td>
      	 <% if @easy_button_class %>
           <%= user.number_easy_submissions %>
      	 <% elsif @medium_button_class %>
           <%= user.number_medium_submissions %>
      	 <% elsif @hard_button_class %>
           <%= user.number_hard_submissions %>
      	 <% end %>
      </td>
    </tr>
  <% end %>
</table>