<h1>Leaderboard</h1>

<% if signed_in? %>
  <% if @easy_button_class %>
    <% leaderboard_url = users_easy_url %>
  <% elsif @medium_button_class %>
    <% leaderboard_url = users_medium_url %>
  <% elsif @hard_button_class %>
    <% leaderboard_url = users_hard_url %>
  <% elsif @points_button_class %>
    <% leaderboard_url = users_points_url %>
  <% end %>

  <a href="<%= leaderboard_url %>" class="btn btn-default">show all</a>
<% end %>

<br><br>

<%= link_to "Easy", follows_easy_url, class: "btn btn-default #{@easy_button_class}" %>
<%= link_to "Medium", follows_medium_url, class: "btn btn-default #{@medium_button_class}" %>
<%= link_to "Hard", follows_hard_url, class: "btn btn-default #{@hard_button_class}" %>
<%= link_to "Points", follows_points_url, class: "btn btn-default #{@points_button_class}" %>

<br><br>

<table class="table table-condensed user-index-table">
  <% @users.each do |user| %>
    <tr>
      <td class="left-column-user-index"><a href="<%= user_url(user) %>"><%= user.name %></a></td>
      <td>
         <% if @easy_button_class %>
           <%= user.number_easy_submissions %>
         <% elsif @medium_button_class %>
           <%= user.number_medium_submissions %>
         <% elsif @hard_button_class %>
           <%= user.number_hard_submissions %>
         <% elsif @points_button_class %>
           <%= user.points %>
         <% end %>
      </td>
    </tr>
  <% end %>
</table>